extends layout

block content
    h1
        p Welcome to #{title}
    for item in items    
        .productbox
            .content
                h1 #{item.name}
                img(src='./../images/#{item.image}')
                - var fprice = 0.01 * item.price
                p #{sprintf(priceformat, fprice)}
                p #{item.attachedDealIDs}
                - var path = 'addtobasket/'+ item.id
                form(action=path method='get')
                    input(type='number' name="quantity" min="0" max="10" step="1" value="0")
                    .addtobasketbtn
                        input(type='submit' value='ADD TO BASKET') 


